# Lines starting with '#' are considered comments.
# Ignore windows executables
*.exe
# Ignore object files 
*.o
# Ignore ppm image files
*.ppm
# Ignore pgm image files
*.pgm
# Ignore bat files
*.bat
# Ignore makefile files
Makefile*
# Ignore pro files
*.pro
#Ignore matlab files
*.m
#Ignore text files
*.txt
#Ignore png image files
*.PNG

